<span class="h3">API List</span>
<table class="table table-bordered table-hover table-success table-striped">
    <tr>
        <th>Endpoint</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>/getUsers</td>
        <td>Retrieve a list of users</td>
    </tr>
    <tr>
        <td>/getBooks</td>
        <td>Retrieve a list of books</td>
    </tr>
    <tr>
        <td>/getAuthors</td>
        <td>Retrieve a list of authors</td>
    </tr>
    <tr>
        <td>/getBooksOfAuthor</td>
        <td>Retrieve books written by a specific author</td>
    </tr>
    <tr>
        <td>/getIssuedBooksByUser</td>
        <td>Retrieve books issued by a specific user</td>
    </tr>
    <tr>
        <td>/getNumberOfBooksIssuedByUser</td>
        <td>Retrieve the number of books issued by a user</td>
    </tr>
    <tr>
        <td>/getParticularBookInformation</td>
        <td>Retrieve information about a specific book</td>
    </tr>
    <tr>
        <td>/getImagesOfUser</td>
        <td>Retrieve images of a specific user</td>
    </tr>
    <tr>
        <td>/getImageOfBook</td>
        <td>Retrieve the image of a specific book</td>
    </tr>
    <tr>
        <td>/getImageOfParticularBook</td>
        <td>Retrieve the image of a specific book by ID</td>
    </tr>
    <tr>
        <td>/getStatisticsOfUser</td>
        <td>Retrieve statistics for a specific user</td>
    </tr>
    <tr>
        <td>/getPdfOfBook</td>
        <td>Retrieve the PDF file of a specific book</td>
    </tr>
    <tr>
        <td>/getBookByTopic</td>
        <td>Retrieve books based on a specific topic</td>
    </tr>
    <tr>
        <td>/getBookInformation</td>
        <td>Retrieve information about a specific book</td>
    </tr>
    <tr>
        <td>/changeUserName</td>
        <td>Change the username of a user</td>
    </tr>
    <tr>
        <td>/changeBookName</td>
        <td>Change the name of a book</td>
    </tr>
    <tr>
        <td>/changeAuthorName</td>
        <td>Change the name of an author</td>
    </tr>
    <tr>
        <td>/createBook</td>
        <td>Create a new book</td>
    </tr>
    <tr>
        <td>/createUser</td>
        <td>Create a new user</td>
    </tr>
    <tr>
        <td>/createAuthor</td>
        <td>Create a new author</td>
    </tr>
    <tr>
        <td>/deleteBook</td>
        <td>Delete a book</td>
    </tr>
    <tr>
        <td>/deleteUser</td>
        <td>Delete a user</td>
    </tr>
    <tr>
        <td>/deleteAuthor</td>
        <td>Delete an author</td>
    </tr>
</table>