{%include 'navbar.html'%}
{%include 'headers.html'%}
<div class="container">
    <h2>Change Password</h2>
    {%include 'flash.html'%}
    <form action="/changePassword" method="post">
        <div class="mb-3">
            <label for="old_password" class="form-label">Old Password:<span class="text-danger">*</span></label>
            <input type="password" class="form-control" id="old_password" name="old_password" required minlength="6" maxlength="50">
            <div class="invalid-feedback">Please enter a password in the required range.</div>
        </div>
        <div class="mb-3">
        <label for="new_password" class="form-label">New Password:<span class="text-danger">*</span></label>
            <input type="password" class="form-control" id="new_password" name="new_password" required minlength="6"
                maxlength="50">
            <div class="invalid-feedback">Please enter a password in the required range.</div>
        </div>
        <button type="submit" class="btn btn-danger">Change Password</button>
    </form>
</div>
</div>