{% include 'headers.html' %}
{% include 'navbar.html' %}
<div class="container">

    <span class="h3">Change Book Information</span>
    {%include 'flash.html'%}
    <form action="/changeBook" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="id" class="my-1 mr-2">Book Name:<span class="text-danger">*</span></label>
            <select class="custom-select my-1 mr-sm-2" id="id" name="id"> <!-- Added name attribute -->
                <option value="" selected>Select Book Name</option>
                {% for book in books["books"] %}
                <option value="{{ book.id }}">{{ book.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">New Book Name:<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="name" name="name" required minlength="2"
                maxlength="50">
            <div class="invalid-feedback">Please enter a book name.</div>
        </div>
        <!-- <div class="mb-3">
            <label for="author_id" class="form-label">Author Id:<span class="text-danger">*</span></label>
            <input type="number" class="form-control" id="author_id" name="author_id" required minlength="2"
                maxlength="50">
            <div class="invalid-feedback">Please enter a id.</div>
        </div> -->
        <label for="author_id" class="my-1 mr-2">Author Name:<span class="text-danger">*</span></label>
        <!-- {{authors}} -->
        <select class="custom-select my-1 mr-sm-2" id="author_id" name="author_id"> <!-- Added name attribute -->
            <option value="" selected>Choose Author Name</option>
            {%for author in authors["authors"]%}
            <option value="{{ author.id }}">{{ author.name }}</option>
            {% endfor %}
        </select>
        <div class="mb-3">
            <label for="book_pdf" class="form-label">Book File:<span class="text-danger">*</span></label>
            <input type="file" class="form-control" id="book_pdf" name="book_pdf" required minlength="2" maxlength="50">
            <div class="invalid-feedback">Please Enter File in Right Format: </div>
        </div>
        <div class="mb-3">
            <label for="publisher" class="form-label">Publisher Name:<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="publisher" name="publisher" required minlength="2"
                maxlength="50">
            <div class="invalid-feedback">Please nice publisher name: </div>
        </div>
        <div class="mb-3">
            <label for="year" class="form-label">Year:<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="year" name="year" required minlength="2" maxlength="50">
            <div class="invalid-feedback">Please nice Year: </div>
        </div>
        <div class="mb-3">
            <div>
                <label for="topic" class="my-1 mr-2">Topic Name:<span class="text-danger">*</span></label>
                <select class="custom-select my-1 mr-sm-2" id="topic" name="topic" required> <!-- Added name attribute -->
                    <option value="">Choose Section Name</option>
                    {% for section in sections['sections'] %}
                    <option value="{{ section.name }}">{{ section.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="mb-3">
            <label for="photo" class="form-label">Photo:<span class="text-danger">*</span></label>
            <input type="file" class="form-control" id="photo" name="photo">
            <div class="invalid-feedback">Please give correct photo: </div>
        </div>

        <label for="abstract" class="form-label">Abstract:<span class="text-danger">*</span></label><br>
        <textarea id="abstract" name="abstract" rows="4" cols="50" class="form-control rounded border mb-3"></textarea><br><br>

        <input type="submit" class="btn btn-danger" value="Submit">
    </form>
    <br>
    <br>
    <br>
</div>
</body>
{%include 'footer.html'%}