<div class="container">
    <h2>Sign In</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="mb-3 alert alert-danger d-flex justify-content-between align-items-center">
        <span class="text-danger">{{ message }}</span>
        <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {%if usertype=='User'%}
        <form method="post" action="/authUser">
    {%else%}
        <form method="post" action="/authAdmin">
    {%endif%}
        <div class="mb-3">
            <label for="email" class="form-label">Email:<span class="text-danger">*</span></label>
            <input type="email" class="form-control" id="email" name="email" required minlength="2" maxlength="50">
            <div class="invalid-feedback">Please enter a valid email.</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:<span class="text-danger">*</span></label>
            <input type="password" class="form-control" id="password" name="password" required minlength="2" maxlength="50">
            <div class="invalid-feedback">Please enter in a required range.</div>
        </div>
        <button type="submit" class="btn btn-danger">Sign In</button>
    </form>
        <p class="text-info">Are you new Here? If Yes then Please Register</p>
        {%if usertype=='Admin'%}
        <a href="{{url_for('signup.return_admin_signup_page')}}" class="link-dark link-offset-3 link-underline-success link-underline-opacity-10">Signup</a>
        {%else%}
        <a href="{{url_for('signup.return_user_signup_page')}}"
            class="link-dark link-offset-3 link-underline-success link-underline-opacity-10">Signup</a> 
        {%endif%}
        </div>
</div>